<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Abrasive
Description: A two-column, fixed-width design with dirty looks.
Version    : 1.0
Released   : 20081122

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>AiswaryaHome</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<h1>Aiswarya Kolisetty</h1>
		</div>
		<!-- end #logo -->
		<div id="menu">
			<ul>
				<li class="first"><a href="#">Projects</a></li>
				<li><a href="#">Resume</a></li>
				<li><a href="#">Contact Me</a></li>
			</ul>
		</div>
		<!-- end #menu -->
	</div>
	<!-- end #header -->
	<div id="page">
		<div id="bgtop">
			<div id="bgbottom">
				<div id="content">
					<div class="post">
						<div class="title">
							<h2><a href="#">About me</a></h2>
							
						</div>
						<div class="entry">
							<p>Hi, my name is Aiswarya Kolisetty.  I am a sophomore at Olin College, one of 86 in the Class of 2013.  An Electrical and Computer Engineering (ECE) major, I am learning to engineer my way to hopefully someday, make an impact with sustainable energy solutions on developing nations. </p>  
                            <p>Welcome to my personal website where I will display my semester projects, ideas, and contact information.  Enjoy!</p>
						</div>
					</div>
					<div class="post">
						<div class="title">
							<h2><a href="#">Blogging</a></h2>
						</div>
						<div class="entry">
							<p>Find my blogging posts on behalf of Olin College <a href="www.olin.edu">here</a>. </p>
							
						</div>
					</div>
				</div>
				<!-- end #content -->
				<div id="sidebar">
					<ul>
						<li>
							<h2>Nullam vitae</h2>
							<ul>
								<li><a href="#">Morbi ante sem aliquam</a></li>
								<li><a href="#">Vitae egestas ullamcorpe</a></li>
								<li><a href="#">Ornare donec nec neque</a></li>
								<li><a href="#">Vel rhoncus adipiscing</a></li>
							</ul>
						</li>
						<li>
							<h2>Sed magna</h2>
							<ul>
								<li><a href="#">Morbi ante sem aliquam</a></li>
								<li><a href="#">Vitae egestas ullamcorpe</a></li>
								<li><a href="#">Vulputate non magna</a></li>
								<li><a href="#">Cras a massa integer</a></li>
								<li><a href="#">Nec turpis vel pulvinar</a></li>
								<li><a href="#">Ornare donec nec neque</a></li>
								<li><a href="#">Vel rhoncus adipiscing</a></li>
								<li><a href="#">Vulputate non magna</a></li>
								<li><a href="#">Cras a massa integer</a></li>
								<li><a href="#">Nec turpis vel pulvinar</a></li>
								<li><a href="#">Vulputate non magna</a></li>
								<li><a href="#">Nec turpis vel pulvinar</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<!-- end #sidebar -->
				<div style="clear: both;">&nbsp;</div>
			</div>
		</div>
	</div>
	<!-- end #page -->
	<div id="footer">
		<p>Copyright (c) 2008 aiswaryakolisetty. Design by <a href="http://www.nodethirtythree.com/">NodeThirtyThree</a> and <a href="http://www.freecsstemplates.org/">FreeCSSTemplates</a></p>
	</div>
	<!-- end #footer -->
</div>
<!-- end #wrapper -->
</body>
</html>
